<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GesturesActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".GenericMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GenericActivityTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MapStyleActivity"
            android:theme="@style/MapStyleActivityTheme" />
        <activity
            android:name=".NavigationActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/GenericActivityTheme" />
        <activity
            android:name=".MapFpsActivity"
            android:theme="@style/GenericActivityTheme" />
        <activity
            android:name=".ParkingActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
